@using Online_Book_Store.ViewModels.Customer
@model BooksSearchVM

@section Scripts {
	<partial name="_NotificationPartial.cshtml" />
}

<div class="container">
	<!-- Books Section -->
	<div class="Books">
		<div class="section-header">
			<h2 class="icon">Featured Books 📚</h2>

			<div class="search-container">
				<form method="get" asp-action="Index" asp-controller="Home">
					<div class="search-combo">
						@if (Model.Search is not null)
						{
							<input value="@Model.Search" type="text" placeholder="Search books..." asp-for="Search" class="search-input">
						}
						else
						{
							<input type="text" placeholder="Search books..." asp-for="Search" class="search-input">
						}
						<select asp-for="CategoryId" class="category-select">
							<option value="">All Categories</option>
							@foreach (var category in Model.Categories)
							{
								@if (category.Id == Model.CategoryId)
								{
									<option selected value="@category.Id">@category.Name</option>
								}
								else
								{
									<option value="@category.Id">@category.Name</option>
								}
							}
						</select>
						<button type="submit" class="search-button">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="books-grid">
			@if (Model.Books.Count == 0)
			{
				<div>
					<h3>No Books Were Found</h3>
				</div>
			}
			else
			{
				@foreach (var book in Model.Books)
				{
					<div class="book-card">
						<a asp-area="Customer" asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.Id">
							<div class="book-cover-container">
								<img src="~/Files/@book.Files.FirstOrDefault(f => f.FileType == FileType.Image)?.Name" alt="Book Image" class="book-cover">
							</div>
						</a>
						<div class="book-details">
							<h3 class="book-title">
								<a asp-area="Customer" asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.Id">
									@book.Name
								</a>
							</h3>

							<a class="Category" asp-area="Customer" asp-controller="Category" asp-action="Details" asp-route-id="@book.Category.Id">
								🏷️@book.Category.Name
							</a>

							@* 						<div class="rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
							<span style="color: var(--gray); font-size: 0.8rem; margin-left: 5px;">(4.7)</span>
						</div> *@

							<div class="price-row">
								<span class="price">EGP @book.Price.ToString("F2")</span>
								@if (book.AvailableCopies == 0)
								{
									<span class="availability unavailable"><i class="fas fa-times-circle"></i> Out of Stock</span>
								}
								else
								{
									<span class="availability available"><i class="fas fa-check-circle"></i> In Stock</span>
								}
							</div>
						</div>
					</div>
				}
			}

		</div>
	</div>

	<div class="row my-3">
		<div class="d-flex justify-content-center">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					@if (Model.PageId > 1)
					{
						<li class="page-item">
							<a class="page-link" asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-PageId="@(Model.PageId - 1)" asp-route-Search="@Model.Search">Previous</a>
						</li>
					}
					@for (int i = 1; i <= Model.NoPages; i++)
					{
						<li class="page-item @(i == Model.PageId ? "active" : "")">
							<a class="page-link"
							   asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-PageId="@i" asp-route-Search="@Model.Search">@i</a>
						</li>
					}

					@if (Model.NoPages > Model.PageId)
					{
						<li class="page-item">
							<a class="page-link" asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-PageId="@(Model.PageId + 1)" asp-route-Search="@Model.Search">Next</a>
						</li>
					}
				</ul>
			</nav>
		</div>
	</div>
</div>

